{% extends '../manage.html' %}

{% block title %}
All Attachments
{% endblock %}

{% block head %}
<script>
$(function() {
    var page = {{ page|safe }};
    var attachments = {{ attachments|safe }};
    var vmAttachments = new Vue({
        el: '#attachments',
        data: {
            attachments: attachments,
            page: definePagination(page)
        },
        methods: {
            find: function(id) {
                for (var i = 0; i < this.attachments.length; i ++) {
                    var a = this.attachments[i];
                    if (a.id===id) {
                        return a;
                    }
                }
                return null;
            },
            deleteAttachment: function(id) {
                var that = this;
                var a = that.find(id);
                if (a!==null) {
                    showConfirm('Confirm Deletion', 'Attachment \"' + a.name + '\" will be deleted. Continue?', function(modal) {
                        showError();
                        modal.showLoading(true);
                        postJSON('/api/attachments/' + a.id + '/delete', function(err, result) {
                            modal.hide();
                            if (err) {
                                showError(err);
                                return;
                            }
                            // reload page:
                            var pageIndex = page.index;
                            if (that.attachments.length===1) {
                                pageIndex --;
                            }
                            if (pageIndex < 1) {
                                pageIndex = 1;
                            }
                            gotoPage(pageIndex);
                        });
                    });
                }
            },
        }
    });
});
</script>
{% endblock %}

{% block main %}
<div id="attachments">

<div class="span12">
    <ul class="breadcrumb">
  		<li class="active">All Attachments (<span v-text="page.totalItems"></span>)</li>
	</ul>
</div>

<div class="span12">
    <div class="btn-toolbar" style="text-align:right;">
        <a href="create_attachment" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New Attachment</a>
    </div>
</div>

<div class="span12">
    <div class="alert alert-error hide"></div>
</div>

<div class="span12">
	<table class="table table-bordered">
        <thead>
            <tr>
                <th width="20%">Preview</th>
                <th width="15%">Mime / Size</th>
                <th width="40%">Name / Description</th>
                <th width="15%">Creation Time</th>
                <th width="10%">&nbsp;</th>
            </tr>
        </thead>
    	<tbody>
            <tr v-repeat="a: attachments">
                <td>
                    <a v-attr="href: '/files/attachments/' + a.id + '/'" target="_blank"><img v-attr="src: '/files/attachments/' + a.id + '/s'" style="width: 160px;" /></a>
                </td>
                <td>
                    <p v-text="a.mime"></p>
                    <p v-text="a.size.toFileSize()"></p>
                    <p v-if="a.width * a.height > 0" v-text="a.width + ' x ' + a.height"></p>
                </td>
                <td>
                    <p v-text="a.name"></p>
                    <p v-text="a.description"></p>
                </td>
                <td><span v-text="a.created_at.toDateTime('yyyy-MM-dd hh:mm')"></span></td>
                <td>
                    <a v-on="click: editAttachment(a.id)" href="#0" title="Edit Attachment" class="x-btn"><i class="icon-edit"></i></a>
                    <a v-on="click: deleteAttachment(a.id)" href="#0" title="Delete Attachment" class="x-btn"><i class="icon-trash"></i></a>
                </td>
            </tr>
            <tr v-if="page.totalItems===0">
                <td colspan="5">No attachment found.</td>
            </tr>
        </tbody>
    </table>
    <div v-component="vc-pagination"></div>
</div>

</div>
{% endblock %}
