{% extends '../manage.html' %}

{% block title %}
All Articles
{% endblock %}

{% block head %}
<script>
$(function() {
    var page = {{ page|safe }};
    var categories = {{ categories|safe }};
    var articles = {{ articles|safe }};
    // bind category_name to article:
    for (var i = 0; i < articles.length; i ++) {
        var a = articles[i];
        for (var n = 0; n < categories.length; n ++) {
            if (a.category_id===categories[n].id) {
                a.category_name = categories[n].name;
                break;
            }
        }
        a.tags = a.tags ? a.tags.split(',') : [];
    }
    var vmArticles = new Vue({
        el: '#articles',
        data: {
            articles: articles,
            page: definePagination(page)
        },
        methods: {
            editArticle: function(id) {
                location.assign('edit_article?id=' + id);
            },
            find: function(id) {
                for (var i = 0; i < this.articles.length; i ++) {
                    var c = this.articles[i];
                    if (c.id===id) {
                        return c;
                    }
                }
                return null;
            },
            deleteArticle: function(id) {
                var that = this;
                var a = that.find(id);
                if (a!==null) {
                    showConfirm('Confirm Deletion', 'Article \"' + a.name + '\" will be deleted. Continue?', function(modal) {
                        showError();
                        modal.showLoading(true);
                        postJSON('/api/articles/' + a.id + '/delete', function(err, result) {
                            modal.hide();
                            if (err) {
                                showError(err);
                                return;
                            }
                            // reload page:
                            var pageIndex = page.index;
                            if (that.articles.length===1) {
                                pageIndex --;
                            }
                            if (pageIndex < 1) {
                                pageIndex = 1;
                            }
                            location.assign('index?page=' + pageIndex);
                        });
                    });
                }
            },
        }
    });
});
</script>
{% endblock %}

{% block main %}
<div id="articles">

<div class="span12">
    <ul class="breadcrumb">
        <li class="active">All Articles (<span v-text="page.totalItems"></span>)</li>
    </ul>
</div>

<div class="span12">
    <div class="btn-toolbar" style="text-align:right;">
        <a href="category_list" class="btn" style="float:left"><i class="icon-list"></i> Categories</a>
        <a href="javascript:refresh()" class="btn btn-info"><i class="icon-refresh icon-white"></i> Refresh</a>
        <a href="create_article" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New Article</a>
    </div>
</div>

<div class="span12">
    <div class="alert alert-error hide"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="20%"></th>
                <th width="35%">Name</th>
                <th width="15%">Category / Author</th>
                <th width="15%">Publish / Created</th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat="a: articles">
                <td>
                    <img v-attr="src: '/files/attachments/' + a.cover_id + '/s'" />
                </td>
                <td>
                    <p><a v-text="a.name" v-attr="href: '/article/' + a.id" target="_blank"></a></p>
                    <p v-text="a.description"></p>
                    <p><span v-repeat="t: a.tags" style="padding-right:1em;"><i class="icon-tag"></i><span v-text="t"></span></span></p>
                </td>
                <td>
                    <p><i class="icon-list"></i> <a v-attr="href: '/category/' + a.category_id" v-text="a.category_name" target="_blank"></a></p>
                    <p><i class="icon-user"></i> <span v-text="a.user_name"></span></p>
                </td>
                <td>
                    <p><span v-text="a.publish_at.toDateTime('yyyy-MM-dd hh:mm')"></span></p>
                    <p><span v-text="a.created_at.toDateTime('yyyy-MM-dd hh:mm')"></span></p>
                </td>
                <td>
                    <a v-on="click: editArticle(a.id)" title="Edit Article" href="#0" class="x-btn"><i class="icon-edit"></i></a>
                    <a v-on="click: deleteArticle(a.id)" title="Delete Article" href="#0" class="x-btn"><i class="icon-trash"></i></a>
                </td>
            </tr>
            <tr v-if="page.totalItems===0">
                <td colspan="5">No article found.</td>
            </tr>
        </tbody>
    </table>
    <div v-component="vc-pagination"></div>
</div>

</div>

{% endblock%}
