{% extends '../manage.html' %}

{% block title %}
{{ form.name }}
{% endblock %}

{% block head %}

<script src="/static/js/marked.js"></script>
<script src="/static/js/markdown-editor.js"></script>

<script>
function checkVm(vm) {
    // check fields:
    if (vm.name.trim()==='') {
        showError('Name cannot be empty.', 'name');
        return false;
    }
    if (vm.description.trim()==='') {
        showError('Description cannot be empty.', 'description');
        return false;
    }
    if (vm.content.trim()==='') {
        showError('Content cannot be empty.', 'content');
        return false;
    }
    var spat = vm.publish_at_str.trim();
    if (spat==='') {
        vm.publish_at = '';
    }
    else {
        var pt = parseDateTime(spat);
        if (isNaN(pt)) {
            showError('Invalid date format.', 'publish_at');
            return false;
        }
        vm.publish_at = pt.toString();
        // fixme: dom not change:
        $('#publish_at').val(vm.publish_at).attr('name', 'publish_at');
    }
    return true;
}

$(function() {
    var vmArticle = null;
    var helper = null;
    var categories = {{ categories|safe }};
    vmArticle = new Vue({
        el: '#formArticle',
        data: {
            categories: categories,
            category_id: '{{ article.category_id }}',
            id: '{{ article.id }}',
            cover_id: '{{ article.cover_id }}',
            name: {{ article.name|json|safe }},
            tags: {{ article.tags|json|safe }},
            publish_at: '{{ article.publish_at }}',
            publish_at_str: '',
            description: {{ article.description|json|safe }},
            content: {{ article.safe_content|safe }},
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                showError();
                if (! helper.checkImageBeforeUpload($('#file'), $('#preview'))) {
                    return;
                }
                if (! checkVm(this)) {
                    return;
                }
                helper.ajaxPostMultipart($('#markdown-editor'), $('#formArticle'), '{{ form.action}}', '{{ form.redirect }}');
            }
        }
    });
    if (vmArticle.publish_at!=='') {
        vmArticle.publish_at_str = parseInt(vmArticle.publish_at).toDateTime();
    }
    if (! vmArticle.category_id && vmArticle.categories.length > 0) {
        vmArticle.category_id = vmArticle.categories[0].id;
    }

    helper = createAjaxUploadUtils(vmArticle);

    var
        $file = $('#file'),
        $preview = $('#preview');
    if (vmArticle.cover_id) {
        $preview.css('background-image', 'url(/files/attachments/' + vmArticle.cover_id + ')');
    }

    // when file change:
    $file.change(helper.onFileChange($file, $preview));

    $('#markdown-editor').markdown({
        'upload_image_url': '/api/images/create',
    });
});

</script>

{% endblock %}

{% block main %}

<div class="span12">
    <ul class="breadcrumb">
        <li><a href="/manage/article/">All Articles</a> <span class="divider">/</span></li>
        <li class="active">{{ form.name }}</li>
    </ul>
</div>

<div class="span12">
    <div class="alert alert-error hide"></div>
    <form v-on="submit: submit" id="formArticle" enctype="multipart/form-data" class="form-horizontal">
        <legend>{{ form.name }}</legend>
        <fieldset>
            <div class="field-cover control-group">
                <label class="control-label">Cover:</label>
                <div class="controls">
                    <div id="preview" style="border:solid 1px #ccc;width:612px;height:344px;background-size:cover;background-position:center center;"></div>
                    <div style="margin-top:10px;"><input id="file" type="file" name="file" /></div>
                </div>
            </div>
            <div class="field-name control-group">
                <label class="control-label">Name:</label>
                <div class="controls">
                    <input v-model="name" name="name" type="text" class="input-xlarge" style="width:600px;" />
                </div>
            </div>
            <div class="field-category_id control-group">
                <label class="control-label">Category:</label>
                <div class="controls">
                    <label v-repeat="c: categories" class="radio">
                        <input v-model="category_id" name="category_id" type="radio" v-attr="value: c.id" />
                        <span v-text="c.name"></span>
                    </label>
                </div>
            </div>
            <div class="field-tags control-group">
                <label class="control-label">Tags:</label>
                <div class="controls">
                    <input v-model="tags" name="tags" type="text" class="input-xlarge" style="width:600px;" />
                    <span class="help-inline">Tags seperated by ,</span>
                </div>
            </div>
            <div class="field-publish_at control-group">
                <label class="control-label">Publish Date:</label>
                <div class="controls">
                    <input v-model="publish_at" id="publish_at" type="hidden" />
                    <input v-model="publish_at_str" type="text" />
                    <span class="help-inline">yyyy-mm-dd HH:MM:SS Leave empty for now.</span>
                </div>
            </div>
            <div class="field-description control-group">
                <label class="control-label">Description:</label>
                <div class="controls">
                    <textarea v-model="description" name="description" rows="5" style="width:600px; resize:none;"></textarea>
                </div>
            </div>
            <div class="field-content control-group">
                <label class="control-label">Content:</label>
                <div class="controls">
                    <textarea v-model="content" id="markdown-editor" rows="20" style="width:600px;"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
                <a href="{{ form.redirect }}" class="btn"><i class="icon-remove"></i> Cancel</a>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
