{% extends '_base.html' %}

{% block meta %}
    <meta property="x-nav" content="/" />
{% endblock %}

{% block title %}{{ _('Home') }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="span8">
            <div id="main">
                <h4>{{ _('Popular Articles') }}</h4>
                <!-- carousel -->
                <div id="slides" class="carousel slide">
                    <ol class="carousel-indicators">
                    {% for a in hotArticles %}
                        <li data-target="#slides" data-slide-to="{{ loop.index }}"{% if loop.first %} class="active"{% endif %}></li>
                    {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                    {% for a in hotArticles %}
                        <div class="item{% if loop.first %} active{% endif %}">
                            <a href="/article/{{ a.id }}" target="_blank"><img style="background-image:url(/files/attachments/{{ a.cover_id }}/l)" /></a>
                            <a href="/article/{{ a.id }}" target="_blank"><div class="carousel-caption">
                                <h4>{{ a.name }}</h4>
                                <p>{{ a.description }}</p>
                            </div></a>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#slides" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#slides" data-slide="next">&rsaquo;</a>
                </div>
                <!-- // carousel -->
                <h4>推荐教程</h4>
                <div style="margin-bottom:20px;">
                    <div style="float:left">
                        <a href="/wiki/0013739516305929606dd18361248578c67b8067c8c017b000" target="_blank"><img src="/files/attachments/001385348516246a18bd54b498f4c74b694624d67f02fa9000/m" /></a>
                    </div>
                    <div style="margin-left:20px; float:left">
                        <h4><a href="/wiki/0013739516305929606dd18361248578c67b8067c8c017b000" target="_blank">Git教程</a></h4>
                        <p>史上最浅显易懂的Git教程</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div style="margin-bottom:20px;">
                    <div style="float:left">
                        <a href="/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000" target="_blank"><img src="/files/attachments/00138594927688160cc8acacc69449b924764f6faa39e8f000/m" /></a>
                    </div>
                    <div style="margin-left:20px; float:left">
                        <h4><a href="/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000" target="_blank">Python教程</a></h4>
                        <p>小白的Python新手教程</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- // main -->
        </div>
        <div class="span4">
            <div class="x-sidebar-right">
                <!-- block sidebar -->
                <div class="x-sidebar-section">
                    <h4>{{ _('Recent Articles') }}</h4>
                    <ul class="x-list">
                    {% for a in articles %}
                        <li><a href="/article/{{ a.id }}" target="_blank">{{ a.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="x-sidebar-section">
                    <h4>关于作者</h4>
                    <iframe width="278" height="330" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=278&height=330&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=1658384301&verifier=078cedea&colors=0088cc,ffffff,333333,0082cb,d14836&dpc=1&rnd=1399700436984"></iframe>
                </div>
                <!-- // block sidebar -->
            </div>
        </div>
    </div>
{% endblock %}
