{% extends '../_base.html' %}

{% block nav %} /discuss {% endblock %}

{% block title %}{{ _('Discuss') }}{% endblock %}

{% block meta %}
    <meta property="x-nav" content="/discuss" />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content="http://{{ __request__.host }}/discuss/{{ board.id }}/{{ topic.id }}" />
    <meta property="og:title" content="{{ topic.name }}" />
    <meta property="og:description" content="{{ topic.name }}" />
{% endblock %}

{% block head %}
    {% set __sidebar_right__ = true %}
    {% set __sidebar_right_width__ = '216px' %}
{% endblock %}

{% block beforehead %}
    <script>
    $(function() {
        // init reply editor:
        $('.x-discuss-content a').each(function () {
            var a = $(this);
            a.tooltip({
                title: a.attr('href')
            }); 
        });
        var editor = $('#markdown-editor');
        editor.markdown({
            buttons: ['heading', '|', 'bold', 'italic', '|', 'code', '|', 'link', 'preview']
        });
        // highlight target reply:
        if (location.hash) {
            var r_id = location.hash.substring(1);
            if (r_id) {
                var $a = $('a[name=' + r_id + ']');
                if ($a.length > 0) {
                    var $tr = $a.parents('tr.x-discuss-topic-tr');
                    if ($tr.length > 0) {
                        $tr.css('background-color', '#f2dede');
                        setTimeout(function () {
                            $tr.animate({backgroundColor: '#ffffff'}, 1000);
                        }, 1000);
                    }
                }
            }
        }
    });

    function create_reply(form) {
        var
            $form = $(form),
            $textarea = $form.find('textarea[name=content]');
        setFormError($form, '');
        if ($textarea.val().trim().length===0) {
            setFormError($form, 'content', '请输入话题内容！');
            return false;
        }

        showLoading(true);
        postJSON($form.attr('url'), $form.serialize(), function(err, result) {
            if (err) {
                showLoading(false);
                setFormError($form, err.data, err.message || err.error);
                return;
            }
            var
                lastIndex = {{ page.totalPages }},
                total = {{ page.itemsPerPage * page.totalPages }},
                items = {{ page.totalItems }},
                nextIndex = lastIndex;
            if (items === total) {
                nextIndex ++;
            }
            location.assign('/discuss/{{ board.id }}/{{ topic.id }}?page=' + nextIndex + '&t=' + new Date().getTime() + '#' + result.id);
        });
        return false;
    }

    </script>
{% endblock %}

{% block main_content %}
    <div class="uk-alert x-board-nav">
        <a href="/discuss">{{ _('Discuss') }}</a>
        /
        <a href="/discuss/{{ board.id }}">{{ board.name }}</a>
        /
        {{ topic.name }}
    </div>

    <div class="uk-margin uk-clearfix">
        <a href="/discuss/{{ board.id }}" class="uk-button uk-float-left"><i class="uk-icon-arrow-left"></i> {{ _('Back') }}</a>
        <a href="#reply" class="uk-button uk-button-success uk-float-right"><i class="uk-icon-reply"></i> {{ _('Reply') }}</a>
    </div>


    <div class="uk-margin">
        <h3 style="display:inline">{{ topic.name }}</h3>
        {% if topic.ref_id %}
        <a target="_blank" href="/{{ topic.ref_type }}/{{ topic.ref_id }}" style="margin-left:1em;">问题来源</a>
        {% endif %}
    </div>

{% set index = page.offset %}
{% for r in replies %}
    {% set index = index + 1 %}
    <div class="uk-comment">
        <div class="uk-comment-header">
            <a href="/user/{{ r.user.id }}"><img class="uk-comment-avatar uk-border-circle x-avatar" src="{{ r.user.image_url }}" width="50" height="50" alt=""></a>
            <h4 class="uk-comment-title"><a href="/user/{{ r.user.id }}">{{ r.user.name }}</a></h4>
            <div class="uk-comment-meta">#{{ index }} Created at <span class="x-smartdate" date="{{ r.created_at }}">...</span></div>
        </div>
        <div class="uk-comment-body uk-margin x-content">
            {% if r.deleted %}
            <div class="alert alert-error">{{ _('This reply was deleted') }}</div>
            {% else %}
            {{ r.content|safe }}
            {% endif %}
        </div>
    </div>
{% endfor %}

    <hr>

    <div class="x-page">
        {{ pagination('?page=PAGE', page) }}
    </div>

    <div class="x-anchor"><a name="reply"></a></div>

    <h3>Reply</h3>

    <div class="uk-margin">
        <button type="button" class="uk-button uk-button-primary"><i class="uk-icon-sign-in"></i> Please Sign In First</button>
    </div>

    <form class="uk-form x-auth-if-signed" url="/api/topics/{{ topic.id }}/replies" onsubmit="return createReply(this);">
        <div class="uk-comment">
            <div class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle x-avatar x-user-image" src="about:blank" width="50" height="50" alt="">
                <h4 class="uk-comment-title"><span></span></h4>
                <div class="uk-comment-meta">You are reply to the topic: {{ topic.name }}</div>
            </div>
            <div class="uk-comment-body uk-margin x-content">
                <div><textarea id="reply-editor" name="content" rows="10"></textarea></div>
                <div class="uk-margin"><button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-reply"></i> Reply</button></div>
            </div>
        </div>
    </form>

{% endblock %}

{% block sidebar_right_content %}
    <h3>分享给朋友</h3>
    <div style="height:66px">
        <wb:share-button appkey="2f89Ml" addition="full" type="button" default_text="{{ topic.name }}" picture_search="false"></wb:share-button>
    </div>
{% endblock %}
