{% extends '../_base.html' %}

{% block nav %} /category/{{ article.category_id }} {% endblock %}

{% block meta %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ __request__.host }}/article/{{ article.id }}" />
    <meta property="og:title" content="{{ article.name }}" />
    <meta property="og:description" content="{{ article.name }}" />
    <meta property="og:image" content="http://{{ __request__.host }}/files/attachments/{{ article.cover_id }}/l" />
{% endblock %}

{% block title %}{{ article.name }}{% endblock %}

{% block head %}
    {% set __sidebar_right__ = true %}

<style>
.x-article-visible {
    display: block;
}
</style>

<script>
loadComments('{{ article.id }}');

var
    comment_type = 'article',
    comment_ref_id = '{{ article.id }}',
    comment_tag = '{{ category.tag }}';

function onAuthSuccess() {
    initCommentArea(comment_type, comment_ref_id, comment_tag);
}

$(function () {
    if (g_user !== null) {
        initCommentArea(comment_type, comment_ref_id, comment_tag);
    }
});

</script>
{% endblock %}

{% block content %}

    <h3>{{ article.name }}</h3>
    <p><img src="/files/attachments/{{ article.cover_id }}/l" class="uk-responsive-width"></p>
    <p><a href="/user/{{ article.user_id }}">{{ article.user_name|e }}</a> / <a href="/category/{{ article.category_id }}">{{ category.name|e }}</a> / <span class="x-smartdate" date="{{ article.publish_at }}">...</span> / {{ _('Reads') }}: {{ article.reads }}</p>
    <div class="x-article-content x-content">
        {{ article.content|safe }}
    </div>

    <div class="x-anchor"><a name="comments"></a></div>

    <h3>{{ _('Comments') }}</h3>

    <ul id="x-comment-list" class="uk-comment-list">
    </ul>

    <h3>{{ _('Make a Comment') }}</h3>

    <div class="x-display-if-not-signin">
        <p><button type="button" class="uk-button" onclick="showSignin()"><i class="uk-icon-signin"></i> Sign In to Make a Comment</button></p>
    </div>

    <div id="x-comment-area"></div>

{% endblock %}

{% block sidebar_right_content %}

{% endblock %}
