{% extends '../_base.html' %}

{% block nav %}
    /category/{{ article.category_id }}
{% endblock %}

{% block meta %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ __request__.host }}/article/{{ article.id }}" />
    <meta property="og:title" content="{{ article.name }}" />
    <meta property="og:description" content="{{ article.name }}" />
    <meta property="og:image" content="http://{{ __request__.host }}/files/attachments/{{ article.cover_id }}/l" />
{% endblock %}

{% block title %}{{ article.name }}{% endblock %}

{% block head %}
    {% set __sidebar_right__ = true %}
<script>
var model = {
    article: {
        id: '{{ article.id }}',
        category_id: '{{ article.category_id }}',
        cover_id: '{{ article.cover_id }}',
        cover_url: 'http://{{ __request__.host }}/files/attachments/{{ article.cover_id }}/l',
        name: {{ article.name|json|safe }},
        description: {{ article.description|json|safe }},
        user_id: '{{ article.user_id }}',
        user_name: {{ article.user_name|json|safe }}
    }
};
</script>
{% endblock %}

{% block main_content %}

    <h3>{{ article.name }}</h3>
    <p><img src="/files/attachments/{{ article.cover_id }}/l" class="uk-responsive-width"></p>
    <p><a href="/user/{{ article.user_id }}">{{ article.user_name|e }}</a> / <a href="/category/{{ article.category_id }}">{{ category.name|e }}</a> / <span class="x-smartdate" date="{{ article.publish_at }}">...</span> / {{ _('Reads') }}: {{ article.reads }}</p>
    <div class="x-article-content x-content">
        {{ article.content|safe }}
    </div>


<h3>{{ _('Comments') }}</h3>

<ul class="uk-comment-list">
                                <li>
                                    <div class="uk-comment">
                                        <div class="uk-comment-header">
                                            <a href="#"><img class="uk-comment-avatar uk-border-circle" src="http://getuikit.com/docs/images/placeholder_avatar.svg" width="50" height="50" alt=""></a>
                                            <h4 class="uk-comment-title"><a href="#">Author</a></h4>
                                            <div class="uk-comment-meta">12 days ago | Profile | #</div>
                                        </div>
                                        <div class="uk-comment-body">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="uk-comment">
                                                <div class="uk-comment-header">
                                                    <img class="uk-comment-avatar" src="http://getuikit.com/docs/images/placeholder_avatar.svg" width="50" height="50" alt="">
                                                    <h4 class="uk-comment-title">Author</h4>
                                                    <div class="uk-comment-meta">12 days ago | Profile | #</div>
                                                </div>
                                                <div class="uk-comment-body">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

{{ makeComments('/article/' + article.id + '/comment', comments) }}

{% endblock %}

{% block sidebar %}
    <div class="x-sidebar-section">
        <h4>喜欢这篇文章？</h4>
        <div style="height:66px">
            <wb:like appkey="2f89Ml"></wb:like>
        </div>
    </div>
    <div class="x-sidebar-section">
        <h4>分享给朋友</h4>
        <div style="height:66px">
            <wb:share-button appkey="2f89Ml" addition="full" type="button" default_text="{{ article.name }}：{{ article.description }}" ralateUid="1658384301" pic="http://{{ __request__.host }}/files/attachments/{{ article.cover_id }}/0" picture_search="false"></wb:share-button>
        </div>
    </div>
    <div class="x-sidebar-section">
        <h4>关于作者</h4>
        <iframe width="278" height="330" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=278&height=330&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=1658384301&verifier=078cedea&colors=0088cc,ffffff,333333,0082cb,d14836&dpc=1&rnd={{ __time__ }}"></iframe>
    </div>
{% endblock %}
