{% extends '../_manage.html' %}

{% block title %} {{ form.name }} {% endblock %}

{% block head %}

<script>
$(function() {
    var id = '{{ id }}';
    if (id) {
        getJSON('/api/boards/' + id, function (err, board) {
            if (err) {
                return showError(err);
            }
            initVM(board);
        });
    }
    else {
        initVM({
        });
    }
});

function initVM(board) {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: board.name,
            tag: board.tag,
            description: board.description,
        },
        created: function () {
            $('#loading').hide();
            $('#vm').show();
        },
        methods: {
            submit: function() {
                var that = this;
                that.$resource('{{ form.action }}').save(that.$data).then(function (resp) {
                    resp.json().then(function (result) {
                        location.assign('{{ form.redirect }}');
                    });
                }, onJsonFormError);
            }
        }
    });
}
</script>

{% endblock %}

{% block main %}

    <div id="loading" class="uk-width-1-1">
        <i class="uk-icon-spinner uk-icon-spin"></i> Loading...
    </div>

    <div id="vm" class="uk-width-1-1">
        <ul class="uk-tab" data-uk-tab>
            <li class="uk-active"><a href="#0">{{ _('Boards') }}</a></li>
            <li><a href="#0" onclick="location.assign('topic_list')">{{ _('Topics') }}</a></li>
            <li><a href="#0" onclick="location.assign('reply_list')">{{ _('Replies') }}</a></li>
        </ul>

        <form v-on:submit.prevent="submit" class="uk-margin uk-form uk-form-stacked">
            <legend>{{ form.name }}</legend>
            <fieldset>
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ _('Name') }}:</label>
                    <div class="uk-form-controls">
                        <input v-model="name" name="name" type="text" maxlength="100" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ _('Tag') }}:</label>
                    <div class="uk-form-controls">
                        <input v-model="tag" name="tag" type="text" maxlength="50" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ _('Description') }}:</label>
                    <div class="uk-form-controls">
                        <input v-model="description" name="description" type="text" maxlength="100" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-check"></i> {{ _('Save') }}</button>
                        <button type="button" class="uk-button" onclick="location.assign('{{ form.redirect }}')"><i class="uk-icon-times"></i> {{ _('Cancel') }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
