{% extends '../_manage.html' %}

{% block title %} {{ _('All Boards') }} {% endblock %}

{% block head %}
<script>
$(function() {
    getJSON('/api/boards', function (err, data) {
        if (err) {
            return fatal(err);
        }
        initVM(data.boards);
    });
});

function initVM(boards) {
    var vm = new Vue({
        el: '#vm',
        data: {
            boards: boards
        },
        methods: {
            sort: function(event) {
                var ids = [];
                for (var i = 0; i < this.boards.length; i ++) {
                    ids.push(this.boards[i].id);
                }
                postJSON('/api/boards/all/sort', {
                    ids: ids
                }, function(err, result) {
                    if (err) {
                        return error(err);
                    }
                    refresh();
                });
            },
            find: function(id) {
                for (var i = 0; i < this.boards.length; i ++) {
                    var obj = this.boards[i];
                    if (obj.id===id) {
                        return i;
                    }
                }
                throw 'logic error';
            },
            swap: function(index1, index2) {
                var obj = this.boards[index2];
                this.boards.splice(index2, 1);
                this.boards.splice(index1, 0, obj);
                $('#sort').show();
            },
            moveUp: function(id) {
                var index = this.find(id);
                if (index===(-1) || index===0) {
                    return;
                }
                this.swap(index - 1, index);
            },
            moveDown: function(id) {
                var index = this.find(id);
                if (index===(-1) || index===(this.boards.length-1)) {
                    return;
                }
                this.swap(index, index + 1);
            },
            editBoard: function(id) {
                location.assign('edit_board?id=' + id);
            },
            lockBoard: function(id, locked) {
                var obj = this.boards[this.find(id)];
                if (confirm(locked ? 'Board \"' + obj.name + '\" will be locked. Continue?' : 'Board \"' + obj.name + '\" will be unlock. Continue?')) {
                    postJSON('/api/boards/' + obj.id + (locked ? '/lock' : '/unlock'), function(err, result) {
                        if (err) {
                            return error(err);
                        }
                        location.assign('{{ form.redirect }}');
                    });
                }
            }
        }
    });
    $('#loading').hide();
    $('#vm').show();
}
</script>
{% endblock %}

{% block main %}

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1">
        <i class="uk-icon-spinner uk-icon-spin"></i> Loading...
    </div>

    <div id="vm" class="uk-width-1-1">
        <ul class="uk-tab" data-uk-tab>
            <li class="uk-active"><a href="#0">Boards</a></li>
            <li><a href="#0" onclick="location.assign('topic_list')">Topics</a></li>
            <li><a href="#0" onclick="location.assign('reply_list')">Replies</a></li>
        </ul>
        <div class="uk-margin">
            <a href="javascript:refresh()" class="uk-button"><i class="uk-icon-refresh"></i> {{ _('Refresh') }}</a>
            <a href="create_board" class="uk-button uk-button-primary uk-float-right"><i class="uk-icon-plus"></i> {{ _('New Board') }}</a>
        </div>

        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th width="10%">{{ _('Tag') }}</th>
                    <th width="30%">{{ _('Name') }}</th>
                    <th width="30%">{{ _('Description') }}</th>
                    <th width="15%">{{ _('Created At') }}</th>
                    <th width="15%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="obj: boards">
                    <td><span v-text="obj.tag"></span></td>
                    <td>
                        <a v-text="obj.name" v-attr="href: '/discuss/' + obj.id" target="_blank"></a>
                        <i v-if="obj.locked" class="uk-icon-lock"></i>
                    </td>
                    <td><span v-text="obj.description"></span></td>
                    <td><span v-text="obj.created_at.toDateTime()"></span></td>
                    <td>
                        <a v-on="click: moveUp(obj.id)" title="Move this board up" href="#0" class="x-btn"><i class="uk-icon-arrow-up"></i></a>
                        <a v-on="click: moveDown(obj.id)" title="Move this board down" href="#0" class="x-btn"><i class="uk-icon-arrow-down"></i></a>
                        <a v-on="click: editBoard(obj.id)" title="Edit this board" href="#0" class="x-btn"><i class="uk-icon-edit"></i></a>
                        <a v-if="!obj.locked" v-on="click: lockBoard(obj.id, true)" title="Lock this board" href="#0" class="x-btn"><i class="uk-icon-ban"></i></a>
                        <a v-if="obj.locked" v-on="click: lockBoard(obj.id, false)" title="Unock this board" href="#0" class="x-btn"><i class="uk-icon-circle-o"></i></a>
                    </td>
                </tr>
                <tr v-if="categories.length===0">
                    <td colspan="5">No board found.</td>
                </tr>
            </tbody>
        </table>

        <div id="sort" class="uk-margin" style="text-align:right; display:none">
            <button v-on="click: sort" type="button" class="uk-button uk-button-success"><i class="uk-icon-list"></i> {{ _('Save Orders') }}</button>
        </div>
    </div>

{% endblock %}
