{% extends '../manage.html' %}

{% block title %}
All Topics
{% endblock %}

{% block head %}
<script>
$(function() {
    var page = {{ page|safe }};
    var replies = {{ replies|safe }};

    var vm = new Vue({
        el: '#replies',
        data: {
            replies: replies,
            page: definePagination(page)
        },
        methods: {
            find: function(id) {
                for (var i = 0; i < this.replies.length; i ++) {
                    var c = this.replies[i];
                    if (c.id===id) {
                        return c;
                    }
                }
                return null;
            },
            deleteReply: function(id) {
                var that = this;
                var a = that.find(id);
                if (a!==null) {
                    showConfirm('Confirm Deletion', 'Reply will be deleted. Continue?', function(modal) {
                        showError();
                        modal.showLoading(true);
                        postJSON('/api/replies/' + a.id + '/delete', function(err, result) {
                            modal.hide();
                            if (err) {
                                showError(err);
                                return;
                            }
                            // reload page:
                            var pageIndex = page.index;
                            location.assign('reply_list?page=' + pageIndex);
                        });
                    });
                }
            },
        }
    });
});
</script>
{% endblock %}

{% block main %}
<div id="replies">

<div class="span12">
    <ul class="breadcrumb">
        <li><a href="/manage/discuss/">All Boards</a> <span class="divider">/</span></li>
        <li class="active">{{ _('All Replies') }}</li>
    </ul>
</div>

<div class="span12">
    <div class="alert alert-error hide"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="20%">{{ _('User') }}</th>
                <th width="60%">{{ _('Content') }}</th>
                <th width="15%">Created</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat="obj: replies">
                <td>
                    <img v-attr="src: obj.user.image_url">
                    <br>
                    <span v-text="obj.user.name"></span>
                </td>
                <td>
                    <div v-if="!obj.deleted" v-html="obj.content"></div>
                    <div v-if="obj.deleted"><div class="alert alert-error">{{ _('Deleted') }}</div></div>
                </td>
                <td>
                    <span v-text="obj.created_at.toDateTime('yyyy-MM-dd hh:mm')"></span>
                </td>
                <td>
                    <a v-if="!obj.deleted" v-on="click: deleteReply(obj.id)" title="Delete Reply" href="#0" class="x-btn"><i class="icon-trash"></i></a>
                </td>
            </tr>
            <tr v-if="page.totalItems===0">
                <td colspan="5">No reply found.</td>
            </tr>
        </tbody>
    </table>
    <div v-component="vc-pagination"></div>
</div>

</div>

{% endblock%}
