{% extends '../_base.html' %}

<!-- display sidebar on left -->
{% set __sidebar_left__ = true %}
{% set __offcanvas_left__ = true %}

{% block nav %} /wiki/{{ wiki.id }} {% endblock %}

{% block meta %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ __request__.host }}/wiki/{{ wiki.id }}{% if current.type == 'wikipage' %}/{{ current.id }}{% endif %}" />
    <meta property="og:title" content="{{ current.name }}" />
    <meta property="og:description" content="{{ wiki.description }}" />
    <meta property="og:image" content="http://{{ __request__.host }}/files/attachments/{{ wiki.cover_id }}/l" />
{% endblock %}

{% block title %}{{ current.name }}{% endblock %}

{% block head %}
    {% set __sidebar_left__ = true %}
    {% set __offcanvas_left__ = true %}
<style>
.x-wiki-visible {
    display: block;
}
</style>

<script>
loadComments('{{ current.id }}');

var
    comment_type = '{{ current.type }}',
    comment_ref_id = '{{ current.id }}',
    comment_tag = '{{ wiki.tag }}';

function onAuthSuccess() {
    initCommentArea(comment_type, comment_ref_id, comment_tag);
}

$(function () {
    if (g_user !== null) {
        initCommentArea(comment_type, comment_ref_id, comment_tag);
    }
});

$(function () {
    $('#{{ current.id }}').addClass('uk-active');
    $('#off-{{ current.id }}').addClass('uk-active');
    // expand current:
    expandCurrentNode();
});

function expandCurrentNode() {
    var current = $('#{{ current.id }}');
    for (;;) {
        i = current.find('i').get(0);
        if (i) {
            expandWikiNode(i);
        }
        current = current.parent();
        if (! current.is('div')) {
            break;
        }
    }
}

function toggleWikiNode(icon) {
    var
        $i = $(icon),
        $div = $i.parent(),
        expand = $div.attr('expand');
    if (expand === 'true') {
        collapseWikiNode(icon);
    } else {
        expandWikiNode(icon);
    }
}

function collapseWikiNode(icon, rec) {
    var
        $i = $(icon),
        $div = $i.parent();
    $div.attr('expand', 'false');
    $i.removeClass('uk-icon-minus-square-o');
    $i.addClass('uk-icon-plus-square-o');
    $div.find('>div').hide();
    if (rec) {
        $div.find('>div>i').each(function () {
            collapseWikiNode(this, rec);
        });
    }
}

function expandWikiNode(icon, rec) {
    var
        $i = $(icon),
        $div = $i.parent();
    $div.attr('expand', 'true');
    $i.removeClass('uk-icon-plus-square-o');
    $i.addClass('uk-icon-minus-square-o');
    $div.find('>div').show();
    if (rec) {
        $div.find('>div>i').each(function () {
            expandWikiNode(this, rec);
        });
    }
}

</script>
{% endblock %}

{% macro createNodes(node, depth) %}
    {% for n in node.children %}
        <div id="{{ n.id }}" depth="{{ depth }}" style="display:none;position:relative;margin-left:15px;">
            {% if n.children.length > 0 %}
            <i onclick="toggleWikiNode(this)" class="uk-icon-plus-square-o" style="position:absolute;margin-left:-1em;padding-top:8px;"></i>
            <a href="/wiki/{{ wiki.id }}/{{ n.id }}" class="x-wiki-index-item">{{ n.name }}</a>
            {{ createNodes(n, depth + 1) }}
            {% else %}
            <a href="/wiki/{{ wiki.id }}/{{ n.id }}" class="x-wiki-index-item">{{ n.name }}</a>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% block sidebar_left_content %}
    <div class="uk-float-right" style="padding-top:5px">
        <a href="#0" onclick="collapseWikiNode($('#x-wiki-index>div>i').get(0), true);expandCurrentNode()" style="margin-left:5px"><i class="uk-icon-check-square"></i></a>
        <a href="#0" onclick="expandWikiNode($('#x-wiki-index>div>i').get(0), true)" style="margin-left:5px"><i class="uk-icon-minus-square"></i></a>
        <a href="#0" onclick="collapseWikiNode($('#x-wiki-index>div>i').get(0), true)" style="margin-left:5px"><i class="uk-icon-plus-square"></i></a>
    </div>
    <ul class="uk-nav uk-nav-side">
        <li class="uk-nav-header">{{ _('Index') }}</li>
    </ul>
    <ul id="x-wiki-index" class="uk-nav uk-nav-side" style="margin-right:-15px;">
        <div id="{{ wiki.id }}" depth="0" style="position:relative;margin-left:15px;">
            <i onclick="toggleWikiNode(this)" class="uk-icon-plus-square-o" style="position:absolute;margin-left:-1em;padding-top:8px;"></i>
            <a href="/wiki/{{ wiki.id }}" class="x-wiki-index-item">{{ wiki.name }}</a>
            {{ createNodes(tree, 1) }}
        </div>
    </ul>
    <div class="x-placeholder"></div>
{% endblock %}

{% macro createOffcanvasNodes(node, depth) %}
    {% for n in node.children %}
    <li id="off-{{ n.id }}" style="margin-left:{{ depth }}em;">
        <a href="/wiki/{{ wiki.id }}/{{ n.id }}">{{ n.name }}</a>
    </li>
    {% if n.children.length > 0 %}
        {{ createOffcanvasNodes(n, depth + 1) }}
    {% endif %}
    {% endfor %}
{% endmacro %}

{% block offcanvas_left %}
    <ul class="uk-nav uk-nav-side">
        <li class="uk-nav-header">{{ _('Index') }}</li>
    </ul>
    <ul class="uk-nav uk-nav-side">
        <li id="off-{{ wiki.id }}"><a href="/wiki/{{ wiki.id }}">{{ wiki.name }}</a></li>
        {{ createOffcanvasNodes(tree, 1) }}
    </ul>
    <div class="x-placeholder"></div>
{% endblock %}

{% block content %}
    <h4>{{ current.name }}</h4>
    <div class="x-wiki-info"><span>{{ _('Reads') }}: {{ current.views }}</span></div>

    <hr>

    <div class="x-wiki-content x-main-content">{{ current.content|safe }}</div>

    <div id="x-sponsor-a" class="uk-clearfix"><!-- sponsor A --></div>

    <div class="x-anchor"><a name="comments"></a></div>

    <h3>{{ _('Comments') }}</h3>

    <ul id="x-comment-list" class="uk-comment-list">
    </ul>

    <h3>{{ _('Make a comment') }}</h3>

    <div class="x-display-if-not-signin">
        <p><button type="button" class="uk-button" onclick="showSignin()"><i class="uk-icon-signin"></i> {{ _('Sign in to make a comment') }}</button></p>
    </div>

    <div id="x-comment-area"></div>

{% endblock %}
