{% extends '../base.html' %}

{% block meta %}
    <meta property="x-nav" content="/discuss" />
{% endblock %}

{% block title %}{{ _('Discuss') }}{% endblock %}

{% block main %}

{% for group in boards %}

    <table class="table table-bordered table-hover">
    {% for b in group %}
        <tr>
            <td>
                <p><a href="/discuss/{{ b.id }}"><strong>{{ b.name}}</strong></a></p>
                <p class="muted"><small>{{ b.description }}</small></p>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endfor %}

{% endblock %}

{% block sidebar %}
    <div class="x-sidebar-section">
        <h4>Hot Topics</h4>
    </div>
{% endblock %}
