{% extends '../base.html' %}

{% block meta %}
    <meta property="x-nav" content="/discuss" />
{% endblock %}

{% block title %}{{ _('Discuss') }}{% endblock %}

{% block main %}

    <ul class="breadcrumb">
        <li class="active">{{ _('Discuss') }}</li>
    </ul>

    <h3>{{ _('Discuss') }}</h3>

{% for group in boards %}

    <table class="table table-bordered table-hover">
    {% for b in group %}
        <tr>
            <td>
                <p><a href="/discuss/{{ b.id }}"><strong>{{ b.name}}</strong></a></p>
                <p class="muted"><small>{{ b.description }}</small></p>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endfor %}

{% endblock %}

{% block sidebar %}
    <div class="x-sidebar-section">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- lxf-250x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-6727358730461554"
     data-ad-slot="9529040712"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- lxf-250x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-6727358730461554"
     data-ad-slot="9529040712"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div>
{% endblock %}
