{% extends '../base.html' %}

{% block meta %}
    <meta property="x-nav" content="/discuss" />
{% endblock %}

{% block title %}{{ _('Discuss') }}{% endblock %}

{% block beforehead %}
    <script src="/static/themes/default/js/marked.js"></script>
    <script src="/static/themes/default/js/markdown-editor.js"></script>
    <script>
    $(function() {
        var editor = $('#markdown-editor');
        editor.markdown({
            buttons: ['heading', '|', 'bold', 'italic', '|', 'link', '|', 'preview']
        });
    });

    function create_reply(form) {
        var
            $form = $(form),
            $textarea = $form.find('textarea[name=content]');
        setFormError($form, '');
        if ($textarea.val().trim().length===0) {
            setFormError($form, 'content', '请输入话题内容！');
            return false;
        }

        showLoading(true);
        postJSON($form.attr('url'), $form.serialize(), function(err, result) {
            if (err) {
                showLoading(false);
                setFormError($form, err.data, err.message || err.error);
                return;
            }
            var
                lastIndex = {{ page.totalPages }},
                total = {{ page.itemsPerPage * page.totalPages }},
                items = {{ page.totalItems }},
                nextIndex = lastIndex;
            if (items === total) {
                nextIndex ++;
            }
            location.assign('/discuss/{{ board.id }}/{{ topic.id }}?page=' + nextIndex + '&t=' + new Date().getTime() + '#' + result.id);
        });
        return false;
    }

    </script>
{% endblock %}

{% block main %}

    <ul class="breadcrumb" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
        <li style="display:inline"><a href="/discuss">{{ _('Discuss') }}</a> <span class="divider">/</span></li>
        <li style="display:inline"><a href="/discuss/{{ board.id }}">{{ board.name }}</a> <span class="divider">/</span></li>
        <li style="display:inline" class="active">{{ topic.name }}</li>
    </ul>

    <div class="btn-toolbar">
        <a href="/discuss/{{ board.id }}" class="btn"><i class="icon-arrow-left"></i> {{ _('Back') }}</a>
    </div>

    <table class="table table-bordered">

{% set index = page.offset %}
{% if page.pageIndex === 1 %}

        <tr>
            <td>
                <div class="x-discuss-topic">
                    <div class="x-discuss-topic-left">
                        <div><img class="x-user-image-small" src="{{ topic.user.image_url }}"></div>
                        <div><span>{{ topic.user.name }}</span></div>
                    </div>
                    <div class="x-discuss-topic-right">
                        <div class="x-discuss-header">
                            {{ topic.name}}
                        </div>
                        <div class="x-discuss-content">
                            {{ topic.content|safe }}
                        </div>
                        <div class="x-discuss-info">
                            #1 {{ topic.user.name }} 发表于 <span class="x-smartdate" date="{{ topic.created_at }}">...</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% set index = index + 1 %}
{% endif %}

{% for r in replies %}
        {% set index = index + 1 %}
        <tr>
            <td>
                <div class="x-discuss-topic">
                    <a class="x-discuss-topic-position" name="{{ r.id }}"></a>
                    <div class="x-discuss-topic-left">
                        <div><img class="x-user-image-small" src="{{ r.user.image_url }}"></div>
                        <div><span>{{ r.user.name }}</span></div>
                    </div>
                    <div class="x-discuss-topic-right">
                        <div class="x-discuss-content">
                            {{ r.content|safe }}
                        </div>
                        <div class="x-discuss-info">
                            #{{ index }} {{ r.user.name }} 发表于 <span class="x-smartdate" date="{{ r.created_at }}">...</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

{% endfor %}

    </table>

    <div class="x-page">
        {{ pagination(page, '?page=') }}
    </div>

    <form class="x-reply-box x-auth-not-signed">
        <div class="x-reply-signin">
            <p>请登录后发表回复：</p>
        {% for s in __signins__ %}
            <p><a href="#0" onclick="authFrom('{{ s }}')"><img src="/static/themes/default/img/signin.{{ s }}.large.png" /></a></p>
        {% endfor %}
        </div>
    </form>

    <form url="/api/topics/{{ topic.id }}/replies" onsubmit="return create_reply(this);" class="x-reply-box x-auth-signed x-reply-form">
        <div class="x-reply-user-img">
            <img src="about:blank" class="x-user-image x-user-image-small" />
        </div>
        <div class="x-reply-input-area">
            <div class="x-reply-prompt">
                <span class="x-user-name"><script> document.write(g_user_name); </script></span>
            </div>
            <div class="alert alert-error hide"></div>
            <div class="x-reply-input">
                <textarea id="markdown-editor" name="content" placeholder="说点什么吧..." rows="10"></textarea>
            </div>
            <div class="x-reply-submit">
                <span>请发表有价值的信息，不要纯灌水。</span>
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> 回复</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block sidebar %}
    <div class="x-sidebar-section">
        <h4>Hot Topics</h4>
    </div>
{% endblock %}
