{% extends '../base.html' %}

{% block meta %}
    <meta property="x-nav" content="/discuss" />
{% endblock %}

{% block title %}{{ board.name }}{% endblock %}

{% block beforehead %}
    <script src="/static/themes/default/js/marked.js"></script>
    <script src="/static/themes/default/js/markdown-editor.js"></script>
    <script>
    $(function() {
        var
            editor = $('#markdown-editor'),
            preview = $('#markdown-preview');
        editor.markdown({
            buttons: ['heading', '|', 'bold', 'italic', '|', 'link']
        });

        var doPreview = function () {
            preview.html(marked(editor.val(), {
                sanitize: true
            }));
        };
        var resetPreview = (function () {
            // start preview:
            var countDown = 10;
            setInterval(function () {
                if (countDown > 0) {
                    countDown --;
                    if (countDown == 0) {
                        doPreview();
                    }
                }
            }, 100);
            return function () {
                countDown = 10;
            };
        })();
        editor.keypress(function () {
            resetPreview();
        });
        editor.keyup(function() {
            resetPreview();
        });
        // capture setRangeText():
        var editorDom = editor.get(0);
        var fn = editorDom.setRangeText;
        editorDom.setRangeText = function() {
            resetPreview();
            return fn.apply(editorDom, arguments);
        };
    });

    </script>
{% endblock %}

{% block container %}

    <ul class="breadcrumb">
        <li><a href="/discuss">{{ _('Discuss') }}</a> <span class="divider">/</span></li>
        <li><a href="/discuss/{{ board.id }}">{{ board.name }}</a> <span class="divider">/</span></li>
        <li class="active">{{ _('New Topic') }}</li>
    </ul>

    <h3>{{ _('New Topic') }}</h3>

    <form class="x-reply-box x-auth-not-signed">
        <div class="x-reply-signin">
            <p>请登录后发表新话题：</p>
        {% for s in __signins__ %}
            <p><a href="#0" onclick="authFrom('{{ s }}')"><img src="/static/themes/default/img/signin.{{ s }}.large.png" /></a></p>
        {% endfor %}
        </div>
    </form>

    <form name="form" url="/api/boards/{{ board.id }}/topics" onsubmit="return create_topic(this)" class="form-post-topic x-auth-signed">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="/discuss">{{ _('Discuss') }}</a> <span class="divider">/</span></li>
                    <li><a href="/discuss/{{ board.id }}">{{ board.name }}</a> <span class="divider">/</span></li>
                    <li class="active">{{ _('New Topic') }}</li>
                </ul>
                <h3>{{ _('New Topic') }}</h3>
                <div class="alert alert-error hide"></div>
                <div class="control-group field-name">
                    <label class="control-label">{{ _('Title') }}</label>
                    <div class="controls">
                        <input type="text" name="name" maxlength="100" style="width:460px;">
                    </div>
                </div>
                <div class="control-group field-tags">
                    <label class="control-label">{{ _('Tags') }}</label>
                    <div class="controls">
                        <input type="text" name="tags" maxlength="100" style="width:460px;">
                    </div>
                    <div class="controls">
                        <span class="help-inline">You can add tags for your topic. Tags are seperated by comma.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group field-content">
                    <label class="control-label">{{ _('Content') }}</label>
                    <div class="controls">
                        <textarea name="content" id="markdown-editor" style="width:460px;height:400px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="span6">
                <p style="height:60px; line-height:30px; margin:10px 0 0 0;">{{ _('Preview') }}</p>
                <div id="markdown-preview" class="span6" style="display:block; height:410px; overflow-x:hidden; overflow-y:scroll;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ _('Post') }}</button>
                <button type="button" onclick="location.assign('/discuss/{{ board.id }}')" class="btn"><i class="icon-remove"></i> {{ _('Cancel') }}</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block sidebar %}
    <div class="x-sidebar-section">
        <h4>Hot Topics</h4>
    </div>
{% endblock %}
