{% extends '../manage.html' %}

{% block title %}
{{ form.name }}
{% endblock %}

{% block head %}

<script>

$(function() {
    var menus = {{ menus|json|safe }};
    menus.unshift({
        name: '-- select menu --',
        url: '',
        index: '-'
    });
    var vm = new Vue({
        el: '#formVm',
        data: {
            menus: menus,
            selected: menus[0],
            name: '',
            url: '',
            _index: '-'
        },
        computed: {
            index: {
                $get: function () {
                    return this._index;
                },
                $set: function (newValue) {
                    this._index = newValue;
                    showError();
                    var m = this.find(this._index);
                    if (m!==null) {
                        this.name = m.name;
                        this.url = m.url;
                    }
                }
            }
        },
        methods: {
            find: function(index) {
                for (var i=0; i<this.menus.length; i++) {
                    var m = this.menus[i];
                    if (index===m.index) {
                        return m;
                    }
                }
                return null;
            },
            submit: function(event) {
                event.preventDefault();
                showError();
                showLoading(true);
                postJSON('{{ form.action }}', { name: this.name, url: this.url }, function(err, result) {
                    if (err) {
                        showError(err);
                        showLoading(false);
                        return;
                    }
                    location.assign('{{ form.redirect }}');
                });
            }
        }
    });
});
</script>

{% endblock %}

{% block main %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="/manage/navigation/">All Navigations</a> <span class="divider">/</span></li>
        <li class="active">{{ form.name }}</li>
    </ul>
</div>

<div class="span12">
    <form id="formVm" v-on="submit: submit" class="form-horizontal">
        <legend>{{ form.name }}</legend>
        <fieldset>
            <div class="alert alert-error hide"></div>
            <div class="field-menu control-group">
                <label class="control-label">Menu:</label>
                <div class="controls">
                    <select v-model="index" class="input-xlarge">
                        <option v-repeat="m: menus" v-attr="value: m.index" v-text="m.name"></option>
                    </select>
                </div>
            </div>
            <div class="field-name control-group">
                <label class="control-label">Name:</label>
                <div class="controls">
                    <input v-model="name" type="text" class="input-xlarge" />
                </div>
            </div>
            <div class="field-url control-group">
                <label class="control-label">URL:</label>
                <div class="controls">
                    <input v-model="url" type="text" class="input-xlarge" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
                <button type="button" class="btn" onclick="location.assign('{{ form.redirect }}')"><i class="icon-remove"></i> Cancel</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
