{% extends '../base.html' %}

{% block meta %}
    <meta property="x-nav" content="/user/" />
{% endblock %}

{% block title %}{{ user.name }}{% endblock %}

{% block beforehead %}
<script>
$(function() {
});
</script>
{% endblock %}

{% block container %}
        <div class="row">
            <div class="span1">
                <div>
                    <img class="x-user-image-small" src="{{ user.image_url }}" />
                </div>
            </div>
            <div class="span11">
                <div id="main">
                    <h4>{{ user.name }}</h4>
                    <p>注册日期：<script> document.write(({{ user.created_at }}).toDateTime('yyyy-MM-dd')); </script></p>
                </div>
            </div>
        </div>
{% endblock %}
