{% extends '../_manage.html' %}

{% block title %} {{ form.name }} {% endblock %}

{% block head %}

<script>
$(function() {
    getJSON('/api/navigations/all/menus', function (err, data) {
        if (err) {
            return fatal(err);
        }
        initVM(data.navigationMenus);
    });
});

function initVM(menus) {
    var vm = new Vue({
        el: '#vm',
        data: {
            menus: menus,
            _menu: '',
            name: '',
            url: '',
        },
        computed: {
            menu: {
                $get: function () {
                    return this._menu;
                },
                $set: function (url) {
                    this._menu = url;
                    if (url !== '') {
                        var m = this.find(this._menu);
                        this.name = m.name;
                        this.url = m.url;
                    }
                }
            }
        },
        methods: {
            find: function (url) {
                for (var i=0; i<this.menus.length; i++) {
                    if (menus[i].url === url) {
                        return menus[i];
                    }
                }
                throw 'logic error';
            },
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                $form.postJSON('{{ form.action }}', {
                    name: this.name,
                    url: this.url
                }, function(err, result) {
                    if (err) {
                        return;
                    }
                    location.assign('{{ form.redirect }}');
                });
            }
        }
    });
    $('#loading').hide();
    $('#vm').show();
}
</script>

{% endblock %}

{% block main %}

    <div id="loading" class="uk-width-1-1">
        <i class="uk-icon-spinner uk-icon-spin"></i> Loading...
    </div>

    <div id="vm" class="uk-width-1-1">
        <ul class="uk-breadcrumb">
            <li><a href="navigation_list">{{ _('All Navigations') }}</a></li>
            <li class="uk-active"><span>{{ form.name }}</span></li>
        </ul>

        <form v-on:submit.prevent="submit" class="uk-form uk-form-stacked uk-margin">
            <legend>{{ form.name }}</legend>
            <fieldset>
                <div class="uk-alert uk-alert-danger uk-hidden"></div>

                <div class="uk-form-row">
                    <label class="uk-form-label">Type:</label>
                    <div class="uk-form-controls">
                        <select v-model="menu">
                            <option value="">- Select a menu -</option>
                        {% raw %}
                            <option v-repeat="menu: menus" value="{{ menu.url }}">{{ menu.name }}</option>
                        {% endraw %}
                        </select>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">Name:</label>
                    <div class="uk-form-controls">
                        <input v-model="name" type="text" maxlength="100" class="uk-width-1-1" placeholder="name">
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">URL:</label>
                    <div class="uk-form-controls">
                        <input v-model="url" type="text" maxlength="100" class="uk-width-1-1" placeholder="http://">
                    </div>
                </div>

                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-check"></i> Save</button>
                        <button type="button" class="uk-button" onclick="location.assign('{{ form.redirect }}')"><i class="uk-icon-times"></i> Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
